body {
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
}

.right-header {
    display: flex;
    gap: 30px;
}

.hero-bottom {
    display: flex;
    justify-content: space-around;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 20px;
    border: none;
    width: 100px;
    height: 45px;
}