body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.hero {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
}

.right-header {
    display: flex;
    gap: 30px;
}

.hero-bottom {
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

.left-hero-bottom-header {
    font-size: 25px;
    font-weight: bolder;
}

.left-hero-bottom-text {
    font-size: 20px;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 20px;
    border: none;
    width: 100px;
    height: 45px;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-title {
    
}

.card-container {
    display:flex;
    gap: 30px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 200px;
    height: auto;
    border-radius: 15px;
}

.card-text {
    width: 200px;
}