body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.hero {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
}

.header {
    display: flex;
    justify-content: space-around;
}

.right-header {
    display: flex;
    gap: 30px;
}

.hero-bottom {
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

.left-hero-bottom-header {
    font-size: 25px;
    font-weight: bolder;
}

.left-hero-bottom-text {
    font-size: 20px;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 15px;
    border: white;
    border-style: solid;
    width: 100px;
    height: 45px;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.info-title {
    font-size: 30px;
    font-weight: bolder;
}

.card-container {
    display:flex;
    gap: 40px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 200px;
    height: auto;
    border-radius: 15px;
}

.card-text {
    width: 200px;
    text-align: center;
    color: #1F2937;
    font-size: large;
}

.quote-section {
    display: flex;
    flex-direction: column;
    padding: 120px;
    background-color: #E5E7EB;
}

.quote {
    font-style: italic;
    font-size: 30px;
}

.quote-credit {
    align-self: flex-end;
    font-size: 25px;
    font-weight: bold;
}

.sign-up-section {
    display: flex;
    justify-content: center;
}

.banner {
    display: flex;
    align-items: center;
    background-color: #3882F6;
    color: white;
    margin: 50px;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 15px;
    justify-content: space-between;
    min-width: 600px;
}

.banner-header {
    font-size: 20px;
    font-weight: bold;
}